.contact{
    height: 100vh;
    position: relative;
}

.contact-background{
    width: 20px;
    height: 100%;
    background-color: palevioletred;
    position: absolute;
}

.contact-wrapper{
    padding: 50px;
    display: flex;
}

.contact-left{
    flex: 1;
}

.contact-right{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-title{
    font-size: 60px;
    width: 80%;
}

.contact-icon{
    font-size: 30px;
    margin-right: 20px;
}

.contact-info-item:hover{
    color: palevioletred;
    font-weight: 400;
    cursor: pointer;
}

.contact-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
}

.contact-description{
    font-weight: 300;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 50px;
    margin: 10px 0px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid black;
}

input:focus{
    outline: none !important;
    border: 2px solid palevioletred;
    border-radius: 15px;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    resize: none;
}

textarea:focus{
    outline: none !important;
    border: 2px solid palevioletred;
    border-radius: 15px;
}

button{
    border: solid 2px palevioletred;
    padding: 15px;
    background-color: white;
    color: palevioletred;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
}

button:hover{
    color: white;
    background-color: palevioletred;
}

@media screen and (max-width: 768px){
    .contact-wrapper{
        flex-direction: column;
        padding: 0px 50px;
    }

    .contact-background{
        height: 125vh;
    }

    .contact-title{
        font-size: 30px;
    }
    
    .contact-info-item{
        margin: 20px 0px;
        width: 100%;
    }
}